<div class="page-header">
  <h3><%= raw("#{t "html.charge"}") %></h3>
</div>
<div class="row">
  <div class="span12">
    <div class="well" >
      <div style="float: left;"><%= link_to "#{t("html.add")}", new_other_charge_path,class: "btn btn-primary"%></div>
      <div style="float: right;">
        <form class="form-inline" style="margin: 0 0 0 0;">
          <%= select :search, :debtor, options_for_select([["#{t("html.all")}",'1'],["#{t("html.debtor")}",'2']],
                      begin params[:search][:debtor] rescue "" end) %>

          
          
          <input type="text" id="search_start_at" name="search[start_at]" value="<%= begin params[:search][:start_at] rescue "" end %>" placeholder="Start Date" style="width: 80px;">            
          <span style="margin:  0px 5px;vertical-align: top;line-height: 2;">-</span>
          <input type="text" id="search_end_at" name="search[end_at]" value="<%= begin params[:search][:end_at] rescue "" end %>" placeholder="End Date" style="width: 80px;">

          <input type="text" id="search_folio" name="search[folio]" value="<%= begin params[:search][:folio] rescue "" end %>" placeholder="Folio" style="width: 120px;">

          <input type="text" id="search_remark" name="search[remark]" value="<%= begin params[:search][:remark] rescue "" end %>" placeholder="Remark" >
          <button type="submit" class="btn"><%= "#{t("html.confirm")}"%></button>
        </form>
      </div>
      <div style="clear: both;"></div>
    </div>
    <center><%= paginate @folios %></center>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <td><%= "#{t("html.folio_no")}"%></td>
          <td><%= "#{t("html.full_name")}"%></td>
          <td><%= "#{t("html.amount")}"%></td>
          <td><%= "#{t("html.payment")}"%></td>
          <td><%= "#{t("html.remain")}"%></td>
          <td><%= "#{t("html.remark")}"%></td>
          <td><%= "#{t("html.at_date")}"%></td>
          <td><%= "#{t("html.menu")}"%></td>
        </tr>
      </thead>
      <tbody>
        <% @folios.each { |folio|%>
          <% amount = Expense.joins(:product).where("expenses.folio_id = #{folio.id} and products.config != '4'" ).sum(:price)%>
          <% payment = Expense.joins(:product).where("expenses.folio_id = #{folio.id} and products.config = '4'" ).sum(:price)%>
          <tr>
            <td><%= folio.folio_no %></td>
            <td><%= begin folio.input_type.contact.name rescue "" end %></td>
            <td><%= amount %></td>
            <td><%= payment %></td>
            <td><%= amount + payment %></td>
            <td><%= folio.remark %></td>
            <td><%= datetime_datetimeform(folio.created_at) %></td>
            <td><%= link_to "#{t("html.edit")}", edit_other_charge_path(id: folio.id), class: "btn" %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function(){
    $('#search_start_at').datepicker({
      format: 'dd/mm/yyyy'
    });
    
    $('#search_end_at').datepicker({
      format: 'dd/mm/yyyy'
    });
  });
</script>