<div class="page-header">
  <h3><%= raw("#{t "activemodel.models.prpt_grp"}") %></h3>
</div>
<div class="well" ><%= link_to t("html.add"), new_prpt_grp_path, class: "btn btn-primary"  %></div>
<center><%= paginate @prpt_grps %></center>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th><%= raw("#{t "activemodel.attributes.prpt_grp.name"}") %></th>
      <th><%= raw("#{t "activemodel.attributes.prpt_grp..used"}") %></th>
      <th><%= "#{t("html.menu")}"%></th>
    </tr>
  </thead>
<% @prpt_grps.each do |prpt_grp| %>
  <tr>
    <td><%= prpt_grp.name %></td>
    <td><%= used(prpt_grp.used) %></td>
    <td><%= link_to raw("<i class='icon-edit'></i>#{ t "html.edit"}"), edit_prpt_grp_path(prpt_grp), class: "btn" %></td>
  </tr>
<% end %>
</table>
