<%= simple_form_for(@room, :html => {:class => 'form-horizontal' }) do |f| %>

  <div class="form-inputs">
    <%= f.input :used, :wrapper => :append   do %>
      <%= f.check_box :used, {},'1','0'  %>
    <% end %>
    <%= f.input :floor_id, collection: floor_src %>
    <%= f.input :seq %>
    <%= f.input :room_no %>
    <%= f.input :room_type_id, collection: room_type_src %>
    <%= f.input :status, collection: arr_status_room %>
  </div>

  <div class="form-actions">
    <%= f.submit (@room.new_record? ? "#{t "html.save"}"  : "#{t "html.update"}" ), class: "btn btn-primary" %>
      <%= link_to "#{t "html.back" }", rooms_path, class: "btn" %>
  </div>
<% end %>
