<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rsvt_status.name %>
</p>

<p>
  <b>Used:</b>
  <%= @rsvt_status.used %>
</p>


<%= link_to 'Edit', edit_rsvt_status_path(@rsvt_status) %> |
<%= link_to 'Back', rsvt_statuses_path %>
