<div class="page-header">
  <h3><%= raw("#{t "html.check_in"}") %></h3>
</div>
<div class="row">
  <div class="span12">
    <div class="well" >
      <form method="get" class="form-inline">
        <label ><%= raw "#{t("html.contact")}" %></label>
        <input type="text" id="search_contact_id" name="search[contact_id]" >

        <!--<label ><%#= raw "#{t("html.status")}" %></label>-->
        <%#= collection_select(:search, :rsvt_status_id,
                              rsvt_status_src(false), :id, :name,{prompt: ""},
                              {style: "width:150px;", selected: begin params[:search][:rsvt_status_id] rescue "" end} )%>
      
        <label ><%= raw "#{t("html.start_at")}" %></label>
        <input type="text" id="search_start_at" name="search[start_at]" value="<%= begin params[:search][:start_at] rescue "" end %>" style="width: 80px;">            
      
        <label ><%= raw "#{t("html.end_at")}" %></label>
        <input type="text" id="search_end_at" name="search[end_at]" value="<%= begin params[:search][:end_at] rescue "" end %>"  style="width: 80px;">            
      
        <label ><%= raw "#{t("html.ref")}" %></label>
        <input type="text" id="search_ref" name="search[ref]" value="<%= begin params[:search][:ref] rescue "" end %>" style="width: 150px;">            
        
        <%= submit_tag "#{t "html.ok"}", class: "btn btn-primary" %>
      </form>
      
      <br />
      <%= link_to raw("#{t("html.add")} #{t("html.walk_in")}"), new_walk_in_path, class: "btn btn-primary"  %>
    </div>
    <center><%= paginate @input_type %></center>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th><%= raw("#{t "html.reservation_name"}") %></th>
          <th><%= raw("#{t "html.room_no"}") %></th>
          <th><%= raw("#{t "html.date"}") %></th>
          <th><%= raw("#{t "activemodel.attributes.input_type.rsvt_status_id"}") %></th>
          <th><%= raw "#{t("html.ref")}"%></th>
          <th><%= raw "#{t("html.status")}" %></th>
          <th><%= raw "#{t("html.menu")}"%></th>
        </tr>
      </thead>
      <tbody>
        <% @input_type.each { |u| %>
          <tr>
            <td><%= u.full_name %></td>
            <td><%= begin u.room_lists.collect{|u| u.room.room_no}.join(", ") rescue "N/A" end %></td>
            <td><%= begin date_dateform_sh(u.arvl_at) rescue "" end %> - <%= begin date_dateform_sh(u.dpt_at) rescue "" end %></td>
            <td><%= begin u.rsvt_status.name rescue "" end %></td>
            <td><%= u.ref %></td>
            <td><%= status_stay_lists(u.stay_status) %></td>
            <td><%= link_to raw("<i class='icon-edit'></i>#{ t "html.check_in"}"), check_in_path(id: u.id), class: "btn" %></td>
          </tr>
        <% } %>
      </tbody>
    </table>  
  </div>

</div>

<script>
  $(function(){
    $("#search_contact_id").select2({
      placeholder: "<%= "#{t("html.select")} #{t("html.contact")}" %>",
      minimumInputLength: 3,
      allowClear: true,
      width: 220,
      ajax: {
        url: "<%= contacts_path(format: "json") %>",
        dataType: 'json',
        quietMillis: 500,
        data: function (term, page) {
          return {
            q: term,
            page: page,
            page_limit: 20
          };
        },
        results: function (data, page) {
          var more = (page * 20) < data.total;
          return {results: data.data, more: more};
        }
      },
      escapeMarkup: function (m) { return m; },
      formatResult: function (item, page) {
        return item.name; 
      },
      formatSelection: function (item, page) {
        return item.name; 
      },
    });
    
    
    $('#search_start_at').datepicker({
      format: 'dd/mm/yyyy'
    });
    
    $('#search_end_at').datepicker({
      format: 'dd/mm/yyyy'
    });
    
    
    <% begin %>
      <% contact = Contact.find(params[:search][:contact_id])%>
      $("#search_contact_id").select2("data", {id: <%= contact.id%>, name: "<%= contact.name %>"})
    <% rescue %>
    <%= "" %>
    <% end %>
    
    
  });
</script>


